<header id="top">
  <nav id="top-navbar">
    <div class="pages-menu">
      <div class="logo">
        <a routerLink="" routerLinkActive="active">
          <img
            src="../../../assets/images/ui/logo-header.svg"
            alt="Hand and paw logo"
          />
        </a>
      </div>
      <a *ngIf="headerFullBrowserWidth" routerLink="/animal/find"
        >Find an Animal</a
      >
      <a *ngIf="headerFullBrowserWidth" routerLink="/animal/register"
        >Register an animal</a
      >
      <a *ngIf="headerFullBrowserWidth" routerLink="about-adoption"
        >About adoption</a
      >
      <div *ngIf="headerFullBrowserWidth; else hamburger">
        <div *ngIf="!isLogged">
          <a (click)="onLoadLoginForm()">Login / Sing up</a>
        </div>
        <div
          *ngIf="isLogged"
          (click)="openToggle()"
          [ngClass]="{ show: openMenu }"
          class="dropdown dropdown-toggle"
        >
          <img
            class="dropdown-toggle"
            [src]="userAvatar ? userAvatar : defaultAvatarImg"
            class="avatar-image"
          />
          <div class="dropdown-menu" [ngClass]="{ show: openMenu }">
            <div class="dropdown-item">
              <img
                class="profile-menu-image"
                [src]="heartIcon"
                alt="Favorites"
              />
              <a [routerLink]="['user', 'favorites-animals', userId]"
                >Favorites</a
              >
            </div>
            <div class="dropdown-item">
              <img class="profile-menu-image" [src]="dogIcon" alt="Animal" />
              <a [routerLink]="['user', 'my-animals', userId]">My animals</a>
            </div>
            <div class="dropdown-item">
              <img
                class="profile-menu-image"
                [src]="defaultAvatarImg"
                alt="Avatar"
              />
              <a [routerLink]="['user', 'edit', userId]">Edit profile</a>
            </div>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <div class="dropdown-item">
              <a (click)="logOut()">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <ng-template #hamburger>
        <app-hamburger
          [userAvatar]="userAvatar"
          [isLogged]="isLogged"
          (userLogout)="logOut()"
        ></app-hamburger>
      </ng-template>
      <div class="responsive-menu_close">
        <span class="pages-menu-close-line"></span>
        <span class="pages-menu-close-line"></span>
      </div>
    </div>
  </nav>
  <!-- keep the login component in the header -->
  <app-login-user *ngIf="openLoginForm"></app-login-user>
</header>
