header {
  background-color: var(--primary1);
}
nav {
  font-size: 1.125rem;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

.avatar-image {
  margin-top: 2px;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.pages-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}

#top-navbar .account-menu > .avatar {
  margin-left: 10px;
}

#top-navbar button {
  all: unset;
  cursor: pointer;
}

#menu .pages-menu a {
  display: inline-block;
  position: relative;
}
.pages-menu a {
  cursor: pointer;
  color: black;
}

#menu .pages-menu a:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary2);
}

/* Responsive design start */
.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .responsive-menu_item {
    margin-bottom: 12px;
  }

  .responsive-menu_item > a {
    font-size: 24px;
  }

  .responsive-sub-menu_item {
    margin-bottom: 10px;
  }

  .responsive-sub-menu_item > a {
    font-size: 20px;
  }
}

/* Media end */

/* Responsive design end */
