<div class="main">
  <section class="page-intro">
    <div class="container">
      <article>
        <h2>{{ formProps?.title }}</h2>
        <p>
          {{ formProps?.description }}
        </p>
      </article>
    </div>
  </section>
  <section *ngIf="!isFetching" class="animal-info-form">
    <div class="container">
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit()"
        id="register-animal-form"
      >
        <div class="input-select">
          <div>
            <label for="name">Name*</label>
            <input
              id="name-input"
              type="text"
              name="name"
              formControlName="name"
            />
            <br />
            <small
              *ngIf="
                myForm.get('name').errors?.required &&
                myForm.get('name').touched
              "
              class="small"
              >Name is required
            </small>
            <small
              *ngIf="
                myForm.get('name').errors?.minlength &&
                myForm.get('name').touched
              "
              class="small"
              >Name must have al least 3 characters
            </small>
          </div>
          <div>
            <label for="type">Type*</label>
            <input
              id="type-input"
              type="text"
              name="type"
              formControlName="type"
            />
            <br />
            <small
              *ngIf="
                myForm.get('type').errors?.required &&
                myForm.get('type').touched
              "
              class="small"
              >Type is required
            </small>
            <small
              *ngIf="
                myForm.get('type').errors?.minlength &&
                myForm.get('type').touched
              "
              class="small"
              >Type must have al least 3 characters
            </small>
          </div>
          <div>
            <label for="breed">Breed*</label>
            <input
              id="breed-input"
              type="text"
              name="breed"
              formControlName="breed"
            />
            <br />
            <small
              *ngIf="
                myForm.get('breed').errors?.required &&
                myForm.get('breed').touched
              "
              class="small"
              >Breed is required
            </small>
            <small
              *ngIf="
                myForm.get('breed').errors?.minlength &&
                myForm.get('breed').touched
              "
              class="small"
              >Breed must have al least 3 characters
            </small>
          </div>
          <div>
            <!-- dropdown gender? -->
            <label for="gender">Gender*</label>
            <select name="gender" formControlName="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <br />
            <small
              *ngIf="
                myForm.get('gender').errors?.required &&
                (myForm.get('gender').touched || myForm.get('gender').dirty)
              "
              class="small"
              >Gender is required
            </small>
          </div>
          <div>
            <label for="character">Character*</label>
            <select name="character" formControlName="character">
              <option value="affectionate">Affectionate</option>
              <option value="aggressive">Aggressive</option>
              <option value="aloof">Aloof</option>
              <option value="angry">Angry</option>
              <option value="asocial">Asocial</option>
              <option value="calm">Calm</option>
              <option value="energetic">Energetic</option>
              <option value="friendly">Friendly</option>
              <option value="needy">Needy</option>
              <option value="noisy">Noisy</option>
              <option value="passive">Passive</option>
              <option value="playful">Playful</option>
              <option value="quiet">Quiet</option>
              <option value="shy">Shy</option>
              <option value="social">Social</option>
            </select>
            <br />
            <small
              *ngIf="
                myForm.get('character').errors?.required &&
                (myForm.get('character').touched ||
                  myForm.get('character').dirty)
              "
              class="small"
              >Character is required
            </small>
          </div>
          <div>
            <label for="age">Age*</label>
            <select name="age" formControlName="age">
              <option value="0">less than 1 year</option>
              <option value="1">1 year</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
              <option value="4">4 years</option>
              <option value="5">5 years</option>
              <option value="6">6 years</option>
              <option value="7">7 years</option>
              <option value="8">8 years</option>
              <option value="9">9 years</option>
              <option value="10">10 years</option>
              <option value="11">11 years</option>
              <option value="12">12 years</option>
              <option value="13">13 years</option>
              <option value="14">14 years</option>
              <option value="15">15 years</option>
              <option value="16">16 years</option>
              <option value="17">17 years</option>
              <option value="18">18 years</option>
              <option value="19">19 years</option>
              <option value="20">20 years</option>
              <option value="21">21 years</option>
              <option value="22">22 years</option>
              <option value="23">23 years</option>
              <option value="24">24 years</option>
              <option value="25">25 years</option>
              <option value="26">26 years</option>
              <option value="27">27 years</option>
              <option value="28">28 years</option>
              <option value="29">29 years</option>
              <option value="30">30 years</option>
              <option value="31">31 years</option>
              <option value="32">32 years</option>
              <option value="33">33 years</option>
              <option value="34">34 years</option>
              <option value="35">35 years</option>
              <option value="36">36 years</option>
              <option value="37">37 years</option>
              <option value="38">38 years</option>
              <option value="39">39 years</option>
              <option value="40">40 years</option>
            </select>
            <br />
            <small
              *ngIf="
                myForm.get('age').errors?.required &&
                (myForm.get('age').touched || myForm.get('age').dirty)
              "
              class="small"
              >Age is required
            </small>
          </div>
          <div>
            <label for="location">City*</label>
            <input
              id="location-input"
              type="text"
              name="location"
              formControlName="location"
            />
            <br />
            <small
              *ngIf="
                myForm.get('location').errors?.required &&
                (myForm.get('location').touched || myForm.get('location').dirty)
              "
              class="small"
              >Location is required
            </small>
          </div>
          <div>
            <label for="province">Province</label>
            <select name="province" formControlName="province">
              <option value="brussels">Brussels</option>
              <option value="antwerp">Antwerp</option>
              <option value="east-flanders">East-Flanders</option>
              <option value="flemish-Brabant">Flemish Brabant</option>
              <option value="limburg">Limburg</option>
              <option value="west-flanders">West-Flanders</option>
              <option value="hainaut">Hainaut</option>
              <option value="liege">Liege</option>
              <option value="luxembourg">Luxembourg</option>
              <option value="namur">Namur</option>
              <option value="Wallon-Brabant">Wallon-Brabant</option>
              <!-- add options from DB -->
            </select>
            <br />
            <small
              *ngIf="
                myForm.get('province').errors?.required &&
                (myForm.get('province').touched || myForm.get('province').dirty)
              "
              class="small"
              >Province is required
            </small>
          </div>
          <div>
            <label for="Phone">Phone*</label>
            <input
              id="phone-input"
              type="text"
              name="phone"
              placeholder="+320471123456"
              formControlName="phone"
            />
            <br />
            <small
              *ngIf="
                myForm.get('phone').errors?.required &&
                myForm.get('phone').touched
              "
              class="small"
              >Phone is required
            </small>
            <small
              *ngIf="
                myForm.get('phone').value &&
                myForm.get('phone').errors?.invalidPhoneNumber &&
                myForm.get('phone').touched
              "
              class="small"
              >Invalid phone number E.g. (+32471123456 or +320471123456)
            </small>
            <small id="phone-small"> </small>
          </div>
          <div>
            <label for="Website">Website</label>
            <input
              id="website-input"
              type="text"
              name="website"
              placeholder="http://www.yourpage.com"
              formControlName="webSite"
            /><br />
            <small
              *ngIf="
                myForm.get('webSite').errors?.invalidUrl &&
                myForm.get('webSite').touched
              "
              class="small"
              >Invalid url e.g (http://www.yourpage.com)
            </small>
          </div>
        </div>
        <div class="textarea-select">
          <label for="about">Describe your animal*</label>
          <textarea
            name="describeAnimal"
            formControlName="describeAnimal"
          ></textarea>
          <br />
          <small
            *ngIf="
              myForm.get('describeAnimal').errors?.required &&
              myForm.get('describeAnimal').touched
            "
            class="small"
            >Animal description is required
          </small>
          <small
            *ngIf="
              myForm.get('describeAnimal').errors?.minlength &&
              myForm.get('describeAnimal').touched
            "
            class="small"
            >Animal description must have al least 100 characters
          </small>
        </div>
        <div class="upload-images">
          <div>
            <label for="animal-image" class="register-animal-image-upload"
              >{{
                formProps.typeRequest === "put"
                  ? "Update Image"
                  : "Upload Image"
              }}
            </label>
            <input
              (change)="imagePreview($event)"
              (change)="onFileSelect($event)"
              class="link-button register-animal-image-button"
              type="file"
              id="animal-image"
              name="picture1"
              accept="image/*"
            />
          </div>
          <div *ngIf="filePath">
            <img [src]="filePath" id="animal-preview" class="animal-preview" />
          </div>
          <div *ngIf="pictureHex">
            <img
              [src]="pictureHex"
              id="animal-preview"
              class="animal-preview"
            />
          </div>
        </div>
        <button
          *ngIf="formProps.typeRequest === 'post'"
          class="button register-animal-button"
          [disabled]="!myForm.valid"
          [ngClass]="{
            noHover: !myForm.valid,
            'call-to-action1': myForm.valid
          }"
        >
          Register an animal
        </button>
        <button
          *ngIf="formProps.typeRequest === 'put'"
          class="button register-animal-button call-to-action1"
        >
          Update an animal
        </button>
        <br />
        <div *ngIf="errorMessage">
          <p [ngStyle]="{ color: 'red', textAlign: 'center' }">
            {{ errorMessage }}
          </p>
        </div>
      </form>
    </div>
  </section>
  <div *ngIf="isFetching" class="loading-image">
    <img
      src="../../../../assets/gif/loading_animation.gif"
      alt="loading image"
    />
  </div>
</div>
<app-modal-message *ngIf="successRegistration || successUpdate">
  <h2>
    You're animal is successfully
    {{ successRegistration ? "registered" : "updated" }}
  </h2>
  <a
    *ngIf="newAnimalId; else animalUpdated"
    [routerLink]="['/animal', 'description', newAnimalId]"
    class="link-button"
  >
    Go to animal Card
  </a>
  <ng-template #animalUpdated>
    <a
      [routerLink]="['/animal', 'description', formProps.animal?._id]"
      class="link-button"
    >
      Go to animal Card
    </a>
  </ng-template>
  <br />
  <a routerLink="/animal/find" id="open-register-form" class="link-button">
    Go to find animal
  </a>
  <br />
  <a
    [routerLink]="['/user', 'my-animals', userId]"
    id="open-register-form"
    class="link-button"
  >
    Go to my animals
  </a>
</app-modal-message>
