<div class="pages-menu">
  <div (click)="openMenuToggle()" class="dropdown" type="button">
    <button class="button-bars">
      <span *ngIf="!isLogged" class="dark-teal-text"
        ><fa-icon class="fa-2xl" [icon]="barIcons"></fa-icon
      ></span>
      <img
        *ngIf="isLogged"
        [src]="userAvatar ? userAvatar : accountIcon"
        class="dropdown-toggle avatar-image"
      />
    </button>

    <!-- Collapsible content -->
    <div
      [ngClass]="{ show: openMenu }"
      class="dropdown-menu menu-position"
      id="navbarSupportedContent8"
    >
      <!-- Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="dropdown-item">
          <a routerLink="/animal/find" routerLinkActive="active"
            >Find an Animal</a
          >
        </li>
        <li class="dropdown-item">
          <a routerLink="/animal/register" routerLinkActive="active"
            >Register an animal</a
          >
        </li>

        <li class="dropdown-item">
          <a routerLink="about-adoption" routerLinkActive="active"
            >About adoption</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <div class="dropdown-item" *ngIf="!isLogged">
          <a (click)="onLoadLoginForm()">Login / Sing up</a>
        </div>
        <div *ngIf="isLogged">
          <div class="dropdown-item">
            <img class="profile-menu-image" [src]="heartIcon" alt="Favorites" />
            <a routerLink="user/favorites-animals">Favorites</a>
          </div>
          <div class="dropdown-item">
            <img class="profile-menu-image" [src]="dogIcon" alt="Animal" />
            <a routerLink="user/my-animals">My animals</a>
          </div>
          <div class="dropdown-item">
            <img class="profile-menu-image" [src]="accountIcon" alt="Avatar" />
            <a [routerLink]="['user', 'edit', userId]">Edit profile</a>
          </div>
          <li><hr class="dropdown-divider" /></li>
          <div class="dropdown-item">
            <a (click)="logOutAccount()">Logout</a>
          </div>
        </div>
      </ul>
      <!-- Links -->
    </div>
  </div>
</div>
