nav {
  font-size: 1.125rem;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

.avatar-image {
  margin-top: 2px;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.pages-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.button-bars {
  background-color: var(--primary1);
  width: 110px;
  height: 110px;
  border: none;
}
.button-bars span {
  width: 80px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-toggle span.icon-bar {
  transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.navbar-toggle span:nth-child(4) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
  transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 540px) {
  .menu-position {
    text-align: start;
    margin-left: -35px;
  }
}
@media screen and (max-width: 414px) {
  .menu-position {
    text-align: start;
    margin-left: -65px;
  }
  nav {
    width: 85%;
  }
}
@media screen and (max-width: 375px) {
  .menu-position {
    text-align: start;
    margin-left: -60px;
  }

  .button-bars {
    background-color: var(--primary1);
    width: 115px;
    height: 115px;
    border: none;
  }
}
