<app-modal>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="modal-form needs-validation"
  >
    <h1>Update password</h1>
    <br />
    <div class="form-input-container">
      <label for="password">Current password:</label><br />
      <input
        type="password"
        name="currentPassword"
        formControlName="currentPassword"
      />
      <div
        *ngIf="
          myForm.get('currentPassword').errors?.required &&
          myForm.get('currentPassword').touched
        "
        class="invalid-input"
      >
        This field is required!
      </div>
    </div>
    <div class="form-input-container">
      <label for="password">New password:</label><br />
      <input
        type="password"
        name="newPassword"
        autocomplete="new-password"
        formControlName="newPassword"
      />
      <div
        *ngIf="
          myForm.get('newPassword').errors?.required &&
          myForm.get('newPassword').touched
        "
        class="invalid-input"
      >
        This field is required!
      </div>
      <div
        *ngIf="
          myForm.get('newPassword').value &&
          myForm.get('newPassword').errors?.invalidInput &&
          myForm.get('newPassword').touched
        "
        class="invalid-input"
      >
        Password must contain at least 1 symbol, character and the length
        between 7-15 characters
      </div>
    </div>
    <div class="form-input-container">
      <label for="repeat-password">Repeat password:</label><br />
      <input
        type="password"
        name="repeatPassword"
        formControlName="repeatPassword"
      />
      <div
        *ngIf="
          myForm.get('repeatPassword').valid &&
          myForm.get('repeatPassword').touched
        "
        class="valid-input"
      >
        Looks good!
      </div>
      <div
        *ngIf="
          myForm.get('repeatPassword').errors?.required &&
          myForm.get('repeatPassword').touched
        "
        class="invalid-input"
      >
        This field is required!
      </div>
      <div
        *ngIf="
          myForm.get('repeatPassword').value &&
          myForm.get('repeatPassword').errors?.inputsNotMatch &&
          myForm.get('repeatPassword').touched
        "
        class="invalid-input"
      >
        Passwords do not match!
      </div>
      <div
        *ngIf="
          myForm.get('repeatPassword').value &&
          myForm.get('repeatPassword').errors?.invalidInput &&
          myForm.get('repeatPassword').touched
        "
        class="invalid-input"
      >
        Password must contain at least 1 symbol, character and the length
        between 7-15 characters
      </div>
    </div>
    <br />
    <button
      [disabled]="!myForm.valid"
      id="submit-register-form"
      type="submit"
      [ngClass]="{ 'disable-reg-btn': !myForm.valid }"
      class="button regular-button"
    >
      Update
    </button>
    <br />
    <br />
    <div *ngIf="registrationError" class="invalid-input">
      {{ registrationError }}
    </div>
  </form>
</app-modal>
<app-login-user *ngIf="loadLoginForm"></app-login-user>
<app-modal-message *ngIf="successRegistration">
  <h2>Password updated</h2>
</app-modal-message>
